/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}


* {
        text-align: center;
        font-family: sans-serif;
    }

    body {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    section {
        background: white;
        max-width: 600px;
        /* padding: 20px; */
        margin: 0 auto;
        border: 10px solid #000;

    }

    #prompt {
        /* color: white; */
        font-size: 15px;
    }

    input {
        margin: 2px;
        text-align: left;
        padding: 5px;
        font-size: 16px;
    }

    input[type=submit] {
        padding: 8px;
    }

    input:focus {
        outline: none;
    }

    #showArea {
        padding: 50px;
    }

    #typeArea {
        background-color: black;
        border-color: 5px solid #000;
        padding: 30px;
        display: flex;
    }

    #sent-list {
        min-height: 100px;
    }

    #grocery-list>p {
        border-bottom: 1px solid #ddd;
        padding: 10px 0 10px 0;
        margin: 0;
        font-size: 28px;
    }

    #toSend {
        width: 85%;
        font-size: 16px;
    }
